<!-- edit.html.erb -->

<%= form_for @post do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div class="field">
    <%= f.label :online %>
    <%= f.check_box :online %>
  </div>

  <%= f.submit %>
<% end %>

